@import '../../styles/variables';

.container {
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    [nz-button] {
        color: $white;
        border-radius: 5px;
    }

    .title {
        font-size: 25px;
        font-weight: bold;
        // color: $primary;
        // filter: contrast(10%);
    }

}