.checkout-container {
    margin: 10% 10%;
}


.divider {
    border-left: 1px solid #e8e8e8;
}

nz-button-group {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 576px) {
    .checkout-container {
        margin: 10% 5%;
    }

    nz-button-group {
        flex-direction: column;

        [nz-button] {
            margin: 10px 0;
        }
    }
}